<h1 class="board-title">Kenban board</h1>
<div class="tasks-count">
    <h5 class="active-tasks"></h5>
    <h5 class="finish-tasks"></h5>
    <h5>* Чтобы удалить задачу, дважды кликните по ней</h5>
    
</div>

<div class="wrapper">
    <div class="board-column" column-id = '1'>
        <h2 class="task-title">Ready</h2>
        <div class="tasks-column">
            <div class="board-dropzone"></div>
        </div>
        <div class="task-button">
            <button class="task-add">+ Add task</button>
            <button class="task-submit disable">Submit</button>
        </div>
        
    </div>
    <div class="board-column" column-id = '2'>
        <h2 class="task-title">In progress</h2>
        <div class="tasks-column">
            <div class="board-dropzone"></div>
        </div>
        <div class="task-button">
            <button class="task-add">+ Add task</button>
            <button class="task-submit disable">Submit</button>
        </div>
    </div>
    <div class="board-column" column-id = '3'>
        <h2 class="task-title">Finished</h2>
        <div class="tasks-column">
            <div class="board-dropzone"></div>
        </div>
        <div class="task-button">
            <button class="task-add">+ Add task</button>
            <button class="task-submit disable">Submit</button>
        </div>
    </div>
</div>